/* Signin Section */
.signin-content > .heading {
  margin-bottom: 24px;
}

.signin-card {
  margin: auto;
  text-align: left;
  display: block;
  max-width: 400px;
}

.signin-group {
  margin-bottom: 16px;
}

.signin-group > .label,
.signin-group > .input {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.signin-form > .submit {
  margin-top: 16px;
}